<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809105277940-e0t6gkq2fp6s00geqg75487kej0iqqvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809105277940-e0t6gkq2fp6s00geqg75487kej0iqqvd</string>
	<key>API_KEY</key>
	<string>AIzaSyDrecm0TAwa9qR04PkpRS-2zlfnBCidIpE</string>
	<key>GCM_SENDER_ID</key>
	<string>809105277940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.droplet.pharmacist-project</string>
	<key>PROJECT_ID</key>
	<string>ios-droplet</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-droplet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809105277940:ios:a294fab8ee4c6cd2d62fa1</string>
</dict>
</plist>